p {
  margin-block: 0;
}

p + p {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h2 + h3, h3 + h4, h4 + h5 {
  margin-top: 0.75em;
}
