p {
  margin-block: var(--sp-0);
}

p + p {
  margin-top: var(--sp-5);
}

h1, h2, h3, h4, h5 {
  margin-top: var(--sp-5);
  margin-bottom: var(--sp-4);
}

h2 {
  margin-top: var(--sp-5);
  margin-bottom: var(--sp-4);
}

h2 + h3, h3 + h4, h4 + h5 {
  margin-top: var(--sp-3);
}
