---
const {title, degree, period} = Astro.props;
---
<div class="edu-block">
  <h2 class="edu-title">
    {title}
  </h2>
  <h4 class="edu-degree">
    {degree}
  </h4>
  <span class="edu-period">{period}</span>
</div>
