:root {
    --clr-bg-body: white;
    --clr-text-body: rgba(0,0,0,0.6);
    --clr-text-muted: rgba(0,0,0,0.4);
    --clr-text-heading-1: rgba(0,0,0,1);
    --clr-text-heading-2: rgba(0,0,0,0.8);
}

[data-variant="dark"] {
    --clr-bg-body: rgba(0,0,0);

    --clr-text-body: rgba(255,255,255,0.6);
    --clr-text-muted: rgba(255,255,255,0.4);
    --clr-text-heading-1: rgba(255,255,255,1);
    --clr-text-heading-2: rgba(0,0,0,0.8);
}

/* TODO: Add theming...*/
