:root {
  --sp-0: 0;
  --sp-1: 0.25rem;
  --sp-2: 0.5rem;
  --sp-3: 0.75rem;
  --sp-4: 1rem;
  --sp-5: 1.5rem;
  --sp-6: 2rem;
  --sp-7: 3rem;
  --sp-8: 4rem;

  --sp-xs: var(--sp-1);
  --sp-sm: var(--sp-2);
  --sp-md: var(--sp-4);
  --sp-lg: var(--sp-6);
  --sp-xl: var(--sp-8);
}

