:root {
  --ff-sans: system-ui, -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  --ff-mono: "JetBrains Mono", monospace;

  --fs-0: 0.8rem;
  --fs-1: 1rem;
  --fs-2: 1.25rem;
  --fs-3: 1.75rem;
  --fs-4: 2rem;
  --fs-5: 2.5rem;
  --fs-6: 4rem;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --lh-heading: 1.2;
  --lh-body: 1.6;
}
