---
import BaseLayout from "../layouts/base.astro";
---
<BaseLayout title="SY | Bio">
  <section class="bio">
    <h2 class="section-title">Bio</h2>
    <p class="bio-text">
      Born on November 11<sup>th</sup>, 1994 in Dnipro(UA). Got basic
      education at Dnipro's General (elementary, middle and high combined)
      School #22. In 2012 went to Odessa(UA) to get musical education at
      Odessa National College of Arts and Culture. Graduated in 2016.<br /><br />The
      same year started the mandatory military service period (18 month)
      in Lviv(UA). Served as a gunner in Ukrainian National Guard
      (Military Police). Carried out escorting and guarding defendants and
      convicts in the courtrooms as part of the guard. Was transferred to
      the reserve in December 2017.<br /><br />In 2018 moved back to
      Odessa, worked as freelance musician doing gigs and cruse ship
      contracts. With the start of global COVID-19 pandemic changed
      occupation. Starting from July 2020 became member of Periodix.Net
      team as a lead generation specialist. In March 2021 got the position
      of Junior Front-End Developer in the same company.<br /><br />
      From September 2022 entered GISMA University of Applied Science to complete
      Bachelors Degree of Software Engineering.<br/><br />
      From March 2023 started working as Full-Stack Software Engineer
      (Working Student) at PERFACCT GmbH located in Potsdam (Brandenburg, Germany).
    </p>
  </section>
</BaseLayout>
