---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout title="SY | Home">
    <section>
        <h2>Section Heading 1</h2>
    </section>
    <section class="bg-section">
        <h2>Section Heading 2</h2>
    </section>
    <section>
        <h2>Section Heading 3</h2>
    </section>
</BaseLayout>
