---
---
<nav id="cv-nav">
  <ul class="nav-list">
    <li class="nav-list-item">
      <a href="/cv/" class="nav-link">Bio</a>
    </li>
    <li class="nav-list-item">
      <a href="/cv/skills" class="nav-link">Skills</a>
    </li>
    <li class="nav-list-item">
      <a href="/cv/edu" class="nav-link">Education</a>
    </li>
    <li class="nav-list-item">
      <a href="/cv/exp" class="nav-link">Experience</a>
    </li>
  </ul>
<nav id="cv-nav">
