---
import "../styles/index.scss"
import Meta from "./Meta.astro";

const {title = "SY", ...props } = Astro.props;
---

<link
  rel="sitemap"
  href="/sitemap-index.xml"
>
<link
  rel="icon"
  type="image/svg+xml"
  href="/favicon.svg"
/>
<link
  rel="shortcut icon"
  href="/favicon.ico?"
  type="image/x-icon"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<Meta/>
<title>{title}</title>
