---
import "../styles/index.scss"
import Meta from "./Meta.astro";

const {title = "SY", ...props } = Astro.props;
---

<link
  rel="sitemap"
  href="/sitemap-index.xml"
>
<link
  rel="icon"
  type="image/svg+xml"
  href="/favicon.svg"
/>
<link
  rel="shortcut icon"
  href="/favicon.ico?"
  type="image/x-icon"
/>
<Meta/>
<title>{title}</title>
