---
import Portrait from "./Portrait.astro";

import Navigation from "./Navigation.astro";

import {main} from "../data/main.ts";
---

<header>
  <div class="flex items-center justify-between">
    <Navigation/>
  </div>
</header>
