---
import Portrait from "./Portrait.astro";

import Navigation from "./Navigation.astro";

import {main} from "../data/main.ts";
---

<header class="w-100%">
  <div class="flex items-center justify-between px-4">
    <Navigation/>
  </div>
</header>
