---
import Portrait from "./Portrait.astro";
import Navigation from "./Navigation.astro";
---

<header class="header">
  <div class="header-content">
    <a href="/" class="header-pic-container">
      <Portrait/>
    </a>
    <div class="header-title-block">
      <h4 class="header-title-secondary">Web Developer / Musician</h4>
      <h1 class="header-title-primary">Serhii Yahdzhyiev</h1>
      <span class="header-title-age" data-type="age"></span>
    </div>
    <input type="checkbox" id="toggler" style="opacity: 0" />
    <nav class="header-nav">
      <Navigation/>
    </nav>
    <label for="toggler" class="toggler">
      <i class="fas fa-bars"></i>
    </label>
  </div>
</header>
