---
---
<section id="links">
    <a
      href="tel:+4901603261013"
      target="_blank"
      rel="noreferrer"
      ><i class="fas fa-phone-alt"></i></a>
    <a
      href="mailto:mr.blooods@gmail.com"
      target="_blank"
      rel="noreferrer"
      ><i class="fas fa-envelope"></i></a>
    <a
      href="https://t.me/MrBloods"
      target="_blank"
      rel="noreferrer"
      ><i class="fab fa-telegram"></i></a>
    <a
      href="https://soundcloud.com/sy1994"
      target="_blank"
      rel="noreferrer"
      ><i class="fab fa-soundcloud"></i></a>
    <a
      href="https://www.youtube.com/channel/UC0kVfzH0_MTFu8Pkur8aHZg"
      target="_blank"
      rel="noreferrer"
      ><i class="fab fa-youtube"></i></a>
    <a
      href="https://github.com/SergeyYahdzhyiev"
      target="_blank"
      rel="noreferrer"
      ><i class="fab fa-github"></i></a 
</section>
