---
---
<section id="links">
  <h2 class="section-title">Links</h2>
  <div class="links-section">
    <h3 class="links-section-title">Contacts</h3>
    <div class="links-row">
      <a
        href="tel:+4901603261013"
        target="_blank"
        rel="noreferrer"
        class="link"
        ><i class="fas fa-phone-alt"></i>+49-(0)160-326-19-13</a
      >
      <a
        href="mailto:mr.blooods@gmail.com"
        target="_blank"
        rel="noreferrer"
        class="link"
        ><i class="fas fa-envelope"></i>mr.blooods@gmail.com</a
      >
      <a
        href="https://t.me/MrBloods"
        target="_blank"
        rel="noreferrer"
        class="link"
        ><i class="fab fa-telegram"></i>Telegram</a
      >
    </div>
  </div>
  <div class="links-section">
    <h3 class="links-section-title">Social</h3>
    <div class="links-row">
      <a
        href="https://soundcloud.com/sy1994"
        target="_blank"
        rel="noreferrer"
        class="link"
        ><i class="fab fa-soundcloud"></i>SoundCloud</a
      >
      <a
        href="https://www.youtube.com/channel/UC0kVfzH0_MTFu8Pkur8aHZg"
        target="_blank"
        rel="noreferrer"
        class="link"
        ><i class="fab fa-youtube"></i>YouTube</a
      >
      <a
        href="https://github.com/SergeyYahdzhyiev"
        target="_blank"
        rel="noreferrer"
        class="link"
        ><i class="fab fa-github"></i>Github</a
      >
    </div>
  </div>
</section>
