---
---
<ul className="flex flex-col gap-2">
  <li>
    <a href="/">
      Home
    </a>
  </li>
  <li>
    <a href="/cv/">
      Bio
    </a>
  </li>
  <li>
    <a href="/cv/skills">
      Skills
    </a>
  </li>
  <li>
    <a href="/cv/edu">
      Education
    </a>
  </li>
  <li>
    <a href="/cv/exp">
      Experience
    </a>
  </li>
</ul>
