---
import CVLayout from "../../layouts/cv.astro";
import EducationItem from "../../components/education/item.astro";
import {education} from "../../data/cv/education";
---

<CVLayout title="SY | Education">
  <section id="edu">
    <h2>Education</h2>
    {
      education?.toReversed().map(ed => (
        <EducationItem
          title={ed.title}
          degree={ed.degree}
          period={ed.period}
        />
      ))
    }
  </section>
</CVLayout>
